<!doctype html>
<head>
  <title>Framboesa: controlo</title> 
  <link rel="stylesheet" href="/css/main.css">
  <meta charset=utf-8> 
</head>
<body>

  <div class="center">

    <h2>Centro de comando da<a href="/"><img class="logo" src="/logo.png"/></a></h2>
    <h4 class="message">
      {% if message.strip() != "" %}
      <span class="small gray">message:</span>
      {% endif %}
      <span>{{ message }}</span>
    </h4>
    
    <h4>{% if wifi != "" %}<span class="normal italic gray small">Wifi connected to: </span>{{ wifi }} 🔥 <span clas="normal italic small">({{ ap }})</span> <span class="small gray normal italic">channel: {{channel}} {{bitrate}}</span> {% else %} <span class="small gray">Wifi not connected 🙁</span>{% endif %}</h4>
    <h3>{% if wifi != "" and ip !=null %}<span><span class="normal italic gray small">Wifi (wlan1) IP is</span> {{ ip }}</span>{% endif %}</h3>
    <ul class="links">
      <li>
        <a class="off" href="/shutdown/">
          <img class="aux" src="off.svg"/>
          <span>&nbsp;</span>Desligar
        </a>
      </li>
      <li>
        <a class="off" href="/shutdown_20/">
          <img class="aux" src="off.svg"/>
          <span>&nbsp;</span>+20
        </a>
      </li>
      <li>
        <a class="off" href="/shutdown_120/">
          <img class="aux" src="off.svg"/>
          <span>&nbsp;</span>+120
        </a>
      </li>
      <li>
        <a class="off" href="/reboot/">
          <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
            <path d="M0 0h48v48H0z" fill="none"/>
            <path d="M24 10V2L14 12l10 10v-8c6.63 0 12 5.37 12 12s-5.37 12-12 12-12-5.37-12-12H8c0 8.84 7.16 16 16 16s16-7.16 16-16-7.16-16-16-16z"/>
          </svg>
          <span>&nbsp;</span>Reinicar
        </a>
      </li>
      <li>
        <a class="wifi" href="/wifi_no_dns/">&nbsp;Reiniciar wifi</a>
      </li>
      <li>
        <a class="wifi" href="/restart_dns/">&nbsp;Reiniciar dns</a>
      </li>
      <li><a class="pihole" target="_blank" href="http://pi.hole">Abrir Pi-Hole<span class="normal small italic">&nbsp;(dns e dhcp)</span></a></li>
      <li>
        <a class="netgear" href="/toggle_netgear_5/">
          <img class="aux" src="wireless.svg"/>
          <span>
            <span>&nbsp;
              {% if netgear_5 %}
              Desactivar
              {% else %}
              Activar
              {% endif %}
            </span>
            netgear30 (5Ghz)
          </span>
        </a>
      </li>
      <li>
        <a class="netgear" href="/toggle_netgear/">
          <img class="aux" src="wireless.svg"/>
          <span>
            <span>&nbsp;
              {% if netgear %}
              Desactivar
              {% else %}
              Activar
              {% endif %}
            </span>
            netgear30 (2.4GHz)
          </span>
        </a>
      </li>
      <li>
        <a class="eduroam" href="/select_eduroam/">
          <img class="aux" src="wireless.svg"/>
          <span>&nbsp;
            Seleciona eduroam
          </span>
        </a>
      <li>
        <a class="mlan" href="/select_mlan/">
          <img class="aux" src="wireless.svg"/>
          <span>&nbsp;
            Seleciona M-WLAN
          </span>
        </a>
      <li>
        <a class="screen" href="/screen/">
          <img class="aux" src="screen.svg"/>
          <span>
            <span>&nbsp;
              {% if screen == True %}
              Desligar
              {% else %}
              Ligar
              {% endif %}
            </span>
            ecrã do sensor
          </span>
        </a>
      </li>
      <!--<li><a target="_blank" href="http://framboesa/grafana/d/KZv3PbiRz/main?orgId=1&refresh=30s&from=now-6h&to=now">Gráficos da Framboesa</a></li>-->
      <li><a class="pihole" target="_blank" href="http://framboesa/grafana/d/skG-J3rGk/temperature-humidity?orgId=1&refresh=30s&from=now-15m&to=now">Gráficos da temperatura/humidade</a></li>
      <!--<li><a target="_blank" href="http://framboesa/grafana/d/jC6srERgk/pi-hole-statistics?orgId=1">Gráficos Pi-Hole</a></li>-->
      <!--<li><a target="_blank" href="http://framboesa/grafana/d/DN6cBUnmz/unbound?orgId=1">Gráficos Unbound<span class="normal small italic">&nbsp;(dns)</span></a></li>-->
    </ul>
  </div>

  <div class="graphs">
    <div class="grafana">
      <iframe src="http://framboesa/grafana/d-solo/skG-J3rGk/temperature-humidity?orgId=1&refresh=30s&panelId=3" width="650" height="300" frameborder="0"></iframe>
      <iframe src="http://framboesa/grafana/d-solo/skG-J3rGk/temperature-humidity?orgId=1&refresh=30s&panelId=5" width="350" height="300" frameborder="0"></iframe>
    </div>

    <div class="grafana">
      <iframe src="http://framboesa/grafana/d-solo/skG-J3rGk/temperature-humidity?orgId=1&refresh=30s&panelId=2" width="650" height="300" frameborder="0"></iframe>
      <iframe src="http://framboesa/grafana/d-solo/skG-J3rGk/temperature-humidity?orgId=1&refresh=30s&panelId=4" width="350" height="300" frameborder="0"></iframe>
    </div>

  </div>
  <div class="gray center">
    <p>Credenciais para gráficos/estatística são admin/&lt;nome da app&gt;</p>
    </ul>
  </div>
  <footer>
    <div>__̴ı̴̴̡̡̡ ̡͌l̡̡̡ ̡͌l̡*̡̡ ̴̡ı̴̴̡ ̡̡͡|̲̲̲͡͡͡ ̲▫̲͡ ̲̲̲͡͡π̲̲͡͡ ̲̲͡▫̲̲͡͡ ̲|̡̡̡ ̡ ̴̡ı̴̡̡ ̡͌l̡̡̡̡.___</div>
  </footer>
</body>
